.button {
    border: 1px solid black;
    margin: 1%;
    width: 20%;
    height: 10vh;
    box-shadow: 10px 10px 10px black;
    transition: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:active {
    transform: translate(5px, 5px);
}